.title_img{
    display: grid;
    justify-content: center;
}

.imagem_inicio{
    width: 42rem;
    padding: 2em 1em 2em 1em;
}

.descricao-inicio {
    display: grid;
    justify-content: center;
    justify-items: center;
}

@media (min-width: 1920) {
    
}